<h1>Welcome to the Ultra-Mega Pizza!</h1>

<%= image_tag('pizza_image.jpg', size: "800x400") %>
<div>
  <p>This is the main page of the app.</p>
  <p> <%= link_to "Pizza", controller: 'pizza', action: 'index' %> </p>
  <p> <%= link_to "Toppings", controller: 'topping', action: 'index' %> </p>
</div>

